@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="imagens/Material-escolar-preco-mais-barato.jpg"
                alt="imagens/Material-escolar-preco-mais-barato.jpg" height="400px" width="100%">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="imagens/painting-and-drawing-tools-set-207665-1140x760.jpg"
                alt="imagens/painting-and-drawing-tools-set-207665-1140x760.jpg" height="400px" width="100%">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="imagens/59860-lg-732x480.jpg" alt="imagens/59860-lg-732x480.jpg"
                height="400px" width="100%">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Voltar</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Avanças</span>
    </a>
</div>


<div class="card-deck mt-3">
    <div class="card">
        <img src="imagens/3e3781bd3c1cb56d3512ec1c1d774ada.jpg" class="card-img-top"
            alt="imagens/3e3781bd3c1cb56d3512ec1c1d774ada.jpg">
        <div class="card-body">
            <h5 class="card-title">Mochila preta</h5>
            <p class="card-text">R$10,00</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
        </div>
    </div>
    <div class="card">
        <img src="imagens/63bd4ceb9ed9ebc0c75e151719a13af5.jpg" class="card-img-top"
            alt="imagens/63bd4ceb9ed9ebc0c75e151719a13af5.jpg">
        <div class="card-body">
            <h5 class="card-title">Lápis colorido</h5>
            <p class="card-text">R$20,00</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
        </div>
    </div>
    <div class="card">
        <img src="imagens/18390.jpg" class="card-img-top" alt="imagens/18390.jpg">
        <div class="card-body">
            <h5 class="card-title">Canetas preta e azul</h5>
            <p class="card-text">R$5,00</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
        </div>
    </div>
    <div class="card">
        <img src="imagens/D_NQ_NP_826844-MLB27318205721_052018-O.jpg" class="card-img-top"
            alt="imagens/D_NQ_NP_826844-MLB27318205721_052018-O.jpg">
        <div class="card-body">
            <h5 class="card-title">Borracha branca</h5>
            <p class="card-text">R$2,00</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
        </div>
    </div>
    <div class="card">
        <img src="imagens/estojo_escolar_box_metalizado_azul_convoy_2351_1_20201214004234.jpg" class="card-img-top"
            alt="imagens/estojo_escolar_box_metalizado_azul_convoy_2351_1_20201214004234.jpg">
        <div class="card-body">
            <h5 class="card-title">Estojo azul</h5>
            <p class="card-text">R$10,00</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
        </div>
    </div>
</div>
