@using System;
@using System.Collections.Generic;
@using System.Diagnostics;
@using System.Linq;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.Extensions.Logging;
@using papelariacanetas2.Models;
@using Microsoft.AspNetCore.Http;

@model Produto

@{

    ViewData["Title"] = "Cadastro de produto";

}
<form asp-action="Cadastro" method="POST" id="FrmCadastro" class="jumbotron" onsubmit="return validarProd(this)">
    <legend>Cadastrar Produto</legend>
    <input type="hidden" asp-for="Id">
    <div class="input-group mb-3">
        <input asp-for="NomeProduto" id="NomeProduto" class="form-control" placeholder="Nome Produto"
            aria-label="Nome Produto" aria-describedby="basic-addon1">
        <div>
            <p><span style="color: red;" class="msg-erro msg-erro-Nome"></span></p>
        </div>
    </div>
    <div class="input-group mb-3">
        <input asp-for="TipoProduto" id="TipoProduto" class="form-control" placeholder="Tipo Produto"
            aria-label="TipoProduto" aria-describedby="basic-addon1">
        <div>
            <p><span style="color: red;" class="msg-erro msg-erro-Tipo"></span></p>
        </div>
    </div>
    <div class="input-group mb-3">
        <input asp-for="ValorUnitario" id="ValorUnitario" class="form-control" placeholder="ValorUnitario"
            aria-label="ValorUnitario" aria-describedby="basic-addon1">
        <div>
            <p><span style="color: red;" class="msg-erro msg-erro-ValorUnitario"></span></p>
        </div>
    </div>
    <button type="submit" class="btn btn-secondary btn-lg btn-block">Cadastrar</button>
</form>